
.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.butn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline: none;
    cursor:pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.butn-primary{
    background:#3DCFD3;
    color:#070606;
}

.butn-primary:hover{
    background:transparent;
    border-color: #3DCFD3;
    color:#3DCFD3;
    text-decoration: none;
}

.butn-secondary{
    background:transparent;
    color:#3DCFD3;
    border-color:#3DCFD3;
}

.butn-secondary:hover{
    background:#3DCFD3;
    color:var(--secondary);
}

.flex-1{
    flex:1;
}


/* the image can be adjusted, it is important!*/
.justify-center{
    justify-content: center;
}